@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply bg-gray-100 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-100;
}